body {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* common styles */

* {
    margin: 0;
    padding: 0;
}

button {
    background-color: #254cf3;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.card-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.card {
    display: flex;
    /* justify-items: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(243, 235, 235);
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}

/* styles for input-field */
.input-field {
    margin-top: 10px;
    width: 30px;
    border: none;
    background-color: #cce5f3;
    height: 20px;
}

/* styles for  card-image */
.card-image {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 230px;
}

#area-calculation-title {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.convert-btn{
    background-color: #254cf3;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 1px;
    margin-bottom: 10px;
}
.extra-class{
    margin-left: 40px;
}




/* -------------
NORMAL STYLES 
----------------
*/


/* Styles for the header sections */
.container-header {
    background-color: #cce5f3;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* styles for the container-main of main section */

.container-main {
    display: flex;
    gap: 10px;

}

.area-calculation {
    border: 2px solid rgb(243, 235, 235);
    border-radius: 5px;
    height: auto;
    width: 320px;
    margin-top: 30px;
    padding: 5px;
}

/* styles for grid-container  */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}



/* 
    RESPONSIVE FOR MOBILE
*/

@media  screen and (max-width: 600px) {
    .container-main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
}